.container {
  width: 100%;
}

.top_container {
  display: flex;
  justify-content: space-between;
}

.top_container p {
  padding-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #333333;
}

.comment {
  padding-top: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #565656;
}

.top_container img {
  width: 16px;
  height: 16px;
  padding-top: 4px;
  padding-right: 4px;
  cursor: pointer;
}